:root {
    background-color: light-dark(#fbf1c7, #282828);
    color: light-dark(#3c3836, #ebdbb2);

    color-scheme: light dark;
}

body {
    font-family: 'Sergoe UI', -apple-system, sans-serif;
    margin: 0;
}

div.content {
    margin: auto;
    max-width: 700px;
    padding: 0 5px;
}

/* force max-width on images */
img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    align-self: center;
}

th,
td {
    border: 1px solid light-dark(#3c3836, #ebdbb2);
}

tr:nth-child(even),
thead {
    background-color: #82828224;
}

tr,
td,
th {
    padding: 4px 8px 4px 4px;
}

pre code {
    padding: 6px;
    display: inline-block;
}

code {
    background-color: #9f9f9f30;
    padding: 2px;
    border-radius: 5px;
}

ul,
ol {
    padding-left: 20px;
    /* margin: 0.3em 0 0.3em 0; */
}

a {
    color: light-dark(#076678, #458588);
}

a:visited {
    color: light-dark(#8f3f71, #b16286);
}

h1 {
    color: #cc241d;
}

h2 {
    color: #d65d0e;
}


h3,
h4,
h5,
h6 {
    margin: 0.5em 0 0 0;
    color: #d79921;
}

/* you can't style disabled checkboxes so we have to do this hack */
input[type=checkbox] {
    pointer-events: none;
}

input[type=checkbox].semi {
    /* firefox */
    accent-color: gray;
}

p {
    text-align: justify;
}

p,
li {
    line-height: 1.4em;
}

blockquote {
    margin: 0;
    padding: 0 0 0 12px;
    border-radius: 3px;
    border-left: 3px solid light-dark(#3c3836, #ebdbb2);
}

hr {
    border: 1px solid light-dark(#3c3836, #ebdbb2);
}

.header {
    padding: 4px 0 5px;
    border-bottom: 1px solid;
    border-width: 2px;
    font-family: monospace;
    background-color: #7676764e;
    line-height: 1.5em;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
} */